.footer{
    color: black;
    width: 100%;
    line-height: 60px;
    background-color: #FFECEC;
    text-align: center;
    margin-top: 80px;
}

.footer a{
    color: black !important;
    font-weight: 700;
}