.footer{
    color: black;
    width: 100%;
    line-height: 60px;
    background-color: #FFECEC;
    text-align: center;
    margin-top: 80px;
    font-size: 0.9rem;
}

.footer a{
    color: black !important;
    font-weight: 700;
}

@media (min-width: 768px) { 
    .footer{
        
        font-size: 1.6rem;
    }
}

@media (min-width: 500px) { 
    .footer{
        
        font-size: 1.2rem;
    }
}